{
  "sourceMaps": true,
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }],
    ["transform-react-jsx"],
    [ "transform-flow-strip-types" ]
  ]
}
