{
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "jsx-a11y/media-has-caption": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-unused-prop-types": 0,
    "react/require-default-props": 0
  }
}
